.button {
    height: 45px;
    min-width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &__text {
        font-family: 'Poppins_Bold';
        font-size: 16px;
        color: var(--text-secondary);
        text-align: center;
    }

    &.active {
        background-color: var(--button-bg-active);

        .button__text {
            color: var(--text-primary);
        }
    }

    &.tight {

    }

}