.footer {
    background: transparent;
    color: var(--text-secondary);
    z-index: 1000;
    font-size: 12px;
    font-family: 'Poppins';
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 18px;
    margin-bottom: 10px;
}