<div class="character-selector-main-container">
    <div class="character-selector-container">
        <div class="character-selector-header">
            <div class="character-selector-header__left">
                <div class="character-info">
                    <div class="character-info__icon">
                        <span class="character-info__side-icon-image"></span>
                    </div>
                    <div class="character-info__side-label">
                        <div class="character-info__label-title">Oldal</div>
                        @if (activeCharacter()) {
                        <div class="character-info__label-text">{{CharacterSideLabel[activeCharacter()!.side]}}</div>
                        }
                    </div>
                </div>
                <div class="character-info">
                    <div class="character-info__icon character-info__icon--yellow">
                        <img src="/assets/star.png" alt="special-power">
                    </div>
                    <div class="character-info__special-power-label">
                        <div class="character-info__label-title">Különleges erő</div>
                        @if (activeCharacter()) {
                        <div class="character-info__label-text">{{activeCharacter()!.characteristic?.power}}</div>
                        }
                    </div>
                </div>
            </div>
            <div class="character-selector-header__right">
                <div class="character-selector-header__right-buttons">
                    <div class="character-selector-header__right-button"><img src="/assets/chevron.png" alt="arrow-left"
                            (click)="previousCharacter()"></div>
                    <div class="character-selector-header__right-button"><img
                            class="character-selector-header__right-button-image" src="/assets/chevron.png"
                            alt="arrow-left" (click)="nextCharacter()"></div>
                </div>
            </div>
        </div>
        <div class="character-selector-content">
            <div class="character-selector-content__left">
                @if (activeCharacter()) {
                <div class="character-selector-content__character-name"
                    [innerHTML]="activeCharacter()?.name | characterNameHtml"></div>
                <div class="character-selector-content__character-info">{{activeCharacter()?.description}}</div>
                }
                <div class="character-selector-content__modules"></div>
            </div>
            <div class="character-selector-content__right">
                <div class="character-selector-content__character-img-bg">
                    @if (activeCharacter()) {
                    <img [src]="'/assets/' + activeCharacter()!.id + '.png'" alt="character-image">
                    }
                </div>
            </div>
        </div>
    </div>
</div>