@use 'mixins' as *;

:host {
    display: block;
    min-height: 100vh;
}

.auth-container {
    @include align-center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-image: url('/assets/bg_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        @include align-center;
        flex-direction: column;
        margin-bottom: 82px;
    }

    &__main-title {
        font-family: 'Starjedi';
        font-size: 30px;
        color: var(--text-secondary);
        margin-bottom: 44px;
    }

    &__sub-title {
        font-family: 'Galaxy';
        font-size: 70px;
        color: var(--text-secondary);
    }
}